*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(20, 17, 17);
}

.reloj{
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/reloj.png");
    background-size: cover;
    border: 1rem solid rgb(41, 147, 209);
    border-radius: 50vh;
    box-shadow: inset 0px 0px 20px 5px rgb(119, 212, 255);
}

.reloj::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: rgb(41, 147, 209);
    border-radius: 50vh;
    z-index: 1000;
}

.hora{
    width: 140px;
    height: 140px;
}

.minuto{
    width: 220px;
    height: 220px;
}

.segundo{
    width: 250px;
    height: 250px;
}

.hora::before{
    content: '';
    position: absolute;
    width: 8px;
    height: 90px;
    background: rgb(230, 203, 185);
    z-index: 10;
    border-radius: 50vh;
}

.minuto::before{
    content: '';
    position: absolute;
    width: 5px;
    height: 130px;
    background: rgb(255, 27, 27);
    z-index: 11;
    border-radius: 50vh;
}

.segundo::before{
    content: '';
    position: absolute;
    width: 1.8px;
    height: 150px;
    background: rgb(30, 255, 0);
    z-index: 12;
    border-radius: 50vh;
    
}

.hora,.minuto,.segundo{
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50vh;
}






