*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.barra{
    background-color: rgb(44, 44, 44);
    height: 45px;
    width: 50%;
    margin: 130px auto;
    box-shadow: inset 6px 6px 12px rgb(88, 88, 88),
    inset -6px -6px 12px rgb(156, 155, 155);
    overflow: hidden;
    border: none;
    border-radius: 20rem; 
}

.progreso{
    height: 100%;
    width: 0;
    background-color: aqua;
    box-shadow: 0 0 10px aqua,
    0 0 20px aqua;
    display: block;
    border-radius: 20rem;
}

.porcentaje{
    font-size: 2.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    transform: translateY(100px);
    color: aqua;
}

body.celebracion {
    background-image: url("../img/celebracion.gif");
    background-size: cover;
    background-repeat: no-repeat;
}





