body{
    background-color: rgb(199, 254, 254);
}

.puntaje{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item{
    background-color: rgb(115, 246, 255);
    width: 50px;
    height: 45px;
    cursor: pointer;
    -webkit-mask-image: url("../img/estrella.svg");
    mask-image: url("../img/estrella.svg");
}

.item.selec {
    background-color: rgb(149, 149, 149);
}